*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg,rgb(235, 39, 39), rgb(255, 122, 122));
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

header{
   
    padding:15px;
    display: flex;
    min-height: 10vh;
    justify-content: center;
}

form{
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}